/* Add CSS Styling */
.odd {
    background-color: rgb(253, 107, 132);
    font-family: "Verdana", "DejaVu Sans", serif;
}

#second-element {
    color: rgb(38, 38, 146);
    font-size: 36px;
}

.twfour {
    font-size: 24px;
}

#green {
    background-color: rgb(50, 156, 50);
    font-weight: bold;
}