/* Add CSS Styling */
.one,
.two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.one {
    background-color: rgb(53, 14, 14);
    color: rgb(184, 184, 184);
}

.two {
    background-color: rgb(236, 236, 120);
}